{% load static %}
{% load i18n %}.
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
{% if LANGUAGE_CODE == 'ar' %}
<html lang="en" dir="rtl">
{% else %}
    <html lang="en">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'website/assets/icon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'website/assets/icon.png' %}" type="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block css %}

    {% endblock  %}
    <link rel="stylesheet" href="{% static 'website/css/index.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    {% block title %}

    {% endblock %}

</head>
<body >

    <!-- navbars -->
    <div id="navbars"  class="d-flex justify-content-center mb-5" style="position: relative;">
    <div class="container85">
    <!-- navbar for lg screen -->
    <nav id="web-navbar">
        <div class="d-flex justify-content-between pt-4">
        <div>
            <a href="/">
            <img src="{% static 'website/assets/logo.png' %}" alt="gaint plus">
            </a>
        </div>
        <div class="d-flex justify-content-between">
            <div id="navbar-links" class="d-flex align-items-center me-5">
            <ul class="d-flex mb-0">
                <li class="navbar-links"><a href="/" class="active">{% trans "Home" %} </a></li>
                <li class="navbar-links"><a href="#our-services">{% trans "Who we are" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Products" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Our Work" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Contact Us" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Terms" %} </a></li>
            </ul>
            </div>
            <div class="navbar-btns d-flex align-items-center">
            <div class="me-3" >
                <button class="primary-btn-gp change-lang" style="position: relative;">
                    <span>Change language</span>
                    <span id="arrow-down">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 6.75L9 11.25L13.5 6.75" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                    
                    </span>
                    <div id="lang-dropdown">
                        <ul class="m-0 p-0 pt-2 pb-2 text-start">
                            <a href="/en" >
                                <li>
                                    <span><img src="{% static 'website/assets/eng.png' %}" alt="gaint-plus english"></span>
                                    <span class="ms-2">English</span>
                                </li>
                            </a>
                            <a href="/" >
                                <li>
                                    <span><img src="{% static 'website/assets/ar.png' %}" alt="gaint-plus arabic"></span>
                                    <span class="ms-2">Arabic</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </button>
            </div>
            <!-- <div class="me-3">
                <a class="stroke-btn" href="#">
                    <span>Login</span>
                </a>
            </div> -->
            <!-- <a class="primary-btn-gp" href="#">
                <span>
                    Register
                </span>
            </a> -->
            </div>
        </div>
        </div>
    </nav>
    <!-- navbar for lg screen end -->


    <!-- navbar for mobile screen -->

    <nav id="mobile-navbar">
        <div class="d-flex justify-content-between pt-4">
        <div>
            <a href="/">
            <img src="{% static 'website/assets/logo.png' %}" alt="gaint plus">
            </a>
        </div>
        <div id="menu-toggler">
            <div class="hamburger-menu" id="hamburger-menu">
            <div class="menu-bar1"></div>
            <div class="menu-bar2"></div>
            <div class="menu-bar3"></div>
            </div>
        </div>
        </div>
        <div id="mob-navbar-links" class="d-flex align-items-center flex-column me-5">
            <div class="d-flex justify-content-between mb-3  pt-5">
            <ul class="mb-0 ps-0">
                <li class="navbar-links"><a href="/" class="active">{% trans "Home" %} </a></li>
                <li class="navbar-links"><a href="#our-services">{% trans "Who we are" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Products" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Our Work" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Contact Us" %} </a></li>
                <li class="navbar-links"><a href="">{% trans "Terms" %} </a></li>
            </ul>
            </div>
        <div class="navbar-btns" >
            <div  >
                <button class="primary-btn-gp change-lang" style="position: relative;">
                <span>Change language</span>
                <span id="arrow-down">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 6.75L9 11.25L13.5 6.75" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </span>
                <div id="lang-dropdown">
                <ul class="m-0 p-0 pt-2 pb-2">
                    <a href="/en">
                        <li class="text-start">
                            <span><img src="{% static 'website/assets/eng.png' %}" alt="gaint-plus english"></span>
                            <span>English</span>
                        </li>
                    </a>
                    <a href="/" >
                        <li class="text-start">
                            <span><img src="{% static 'website/assets/ar.png' %}" alt="gaint-plus arabic"></span>
                            <span>Arabic</span>
                        </li>
                    </a>
                </ul>
                </div>
                </button>
            </div>
        <!-- <div class="d-flex mt-3 justify-content-between">
            <div class="mt-3 me-2">
            <a class="stroke-btn" href="#">
                <span >
                Login
                </span>
            </a>
            </div>
            <a class="primary-btn-gp mt-3 ms-2" href="#">
                <span>
                    Register
                </span>
            </a>
        </div> -->
        </div>
    </div>
        
    </nav>

    <!-- navbar for mobile screen end-->
    </div>

    </div>


    {% block container %}


    {% endblock %}


    
  <!-- footer -->

  <footer class="mt-5" style="position: relative;">
      <!-- <img src="{% static 'website/assets/hero-bkg-1.png' %}" alt="gaint plus" style="position: absolute;right: 0;bottom: 0;"> -->
    <div class="footer-container d-flex justify-content-center">
      <div class="container85">
        <div class="footer-wrapper">
          <div class="row m-0 mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="footer-sec-1 mt-3">
                <div class="logo mt-3 mb-3 ">
                  <img src="{% static 'website/assets/logo.png' %}" alt="gaint-logo">
                </div>
                <div class="mt-4 mb-3 company-description">
                  <p >
                    Everything related to qimqq and more is distinguished by the design of the rooms, as well as special and exclusive keyboards and mice upon request.
                  </p>
                </div>
                <div class="registration mt-4 mb-3">
                  <p style="background: var(--border);
                  background-clip:text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;">Commercial Registration No: 204365</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="footer-sec-2 mt-3">
                <div class="heading mb-4">
                  <h4>
                    Useful links
                  </h4>
                </div>
                <div class="footer-items">
                  <ul class="p-0 mt-3">
                    <li class="mb-2"><a href="#"> Products </a></li>
                    <li class="mb-2"><a href="#"> Who we are </a></li>
                    <li class="mb-2"><a href="#"> Contact us </a></li>
                    <li class="mb-2"><a href="#"> Terms & Conditions </a></li>
                    <li class="mb-2"><a href="#"> Replacement & Return ploicy </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="footer-sec-3 mt-3">
                <div class="heading mb-4">
                  <h4>
                    Connect with us
                  </h4>
                </div>
                <div class="social-icons">
                  <div class="d-flex justify-content-center">
                    <div class="me-3">
                      <a href="https://www.instagram.com/gaint_plus1" target="_blank">
                        <img src="{% static 'website/assets/insta.png' %}" alt="gaint-plus instagram">
                      </a>
                    </div>
                    <div class="me-3">
                      <a href="https://web.whatsapp.com/send?phone=+9660547774276&amp;text=Hi, I would like to get more information about your services" target="_blank">
                        <img src="{% static 'website/assets/whatsapp.png' %}" alt="gaint-plus whatsapp">
                      </a>
                    </div>
                    <div class="me-3">
                      <a href="https://discord.gg/Y4gS2SHs4J" target="_blank">
                        <img src="{% static 'website/assets/discord.png' %}" alt="gaint-plus discord">
                      </a>
                    </div>
                    <div class="me-3">
                      <a href="https://twitter.com/gaint_plus1/" target="_blank">
                        <img src="{% static 'website/assets/twitter.png' %}" alt="gaint-plus twitter">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright">
            <div class="text-center">
              <p>2022 All Rights Reserved Giant PlusTM ©</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- footer end -->

<!-- mobile menu scripts -->
  <script>

    document.getElementById('hamburger-menu').addEventListener('click',()=>{
      document.querySelector('body').classList.toggle('mob-nav-active')
      document.getElementById('hamburger-menu').classList.toggle('active')
      document.getElementById('mob-navbar-links').classList.toggle('active')
      document.getElementById('navbars').classList.toggle('active')
    })
    let links = document.querySelectorAll('#mobile-navbar .navbar-links a')
    for(let i=0;i<links.length;i++){
        links[i].addEventListener('click',()=>{
            document.querySelector('body').classList.toggle('mob-nav-active')
            document.getElementById('hamburger-menu').classList.toggle('active')
            document.getElementById('mob-navbar-links').classList.toggle('active')
            document.getElementById('navbars').classList.toggle('active')
        })
    }
 

  </script>

  <!-- language dropdown scripts -->
  <!-- <script>
    
    let dropdowns = document.querySelectorAll('.change-lang')
    for(let i=0;i<dropdowns.length;i++){
        dropdowns[i].addEventListener('onmouseenter',()=>{
            dropdowns[i].classList.toggle('active')
        })
    }
  </script> -->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>