{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>Gaint Plus</title>
{% endblock %}

{% block container %}



  <!-- our services -->

  <div id="our-services"  style="position:relative;">
      
    <img src="{% static 'website/assets/service_bkg.png' %}" alt="gaint-plus services" style="position:absolute; top:-125px;left: 0;height:525px;width: 100%;z-index: -3;">
    
    <div class="services d-flex justify-content-center align-items-center" style="height: 400px;" >
      <div class="text-center">
        <h1 data-aos="fade-up" data-aos-duration="1000">{% trans "Our Services" %}</h1>
        <p class="sub-text mt-4 text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          {% trans "Lörem ipsum ultranat jaras. Rehet båligen fynämist gigagt, masans. Teten vasa har post-it-krig logotris ponde. Vagt nes epiktig, sofament. Supraryvona frågestrejka, maliga och gigast. " %}
        </p>
      </div>  
    </div>

    <div style="position:relative;" class="d-flex justify-content-center">
      <img src="{% static 'website/assets/c-1.svg' %}" alt="" style="position:absolute; top:-50px;right: -50px;width: 125px;">
      <div class="container85" >
      <div>
        <div class="row m-0 mt-5" id="services">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-5">
            <div class="service-container" data-aos="fade-up" data-aos-duration="1000">
              <div class="service" >
                <div class="ser-img">
                  <img src="{% static 'website/assets/ser-1.png' %}" alt="gaint-plus services">
                </div>
                <div class="body">
                  <div class="title">
                    <h2>
                      {% trans "Professional Setup Design" %}
                    </h2>
                  </div>
                  <div >
                    <p class="sub-text">
                      {% trans "We can prepare a special corner for coffee in your home with a distinct character that reflects your personal taste, taking into account its fit with your home decor." %}
                    </p>
                  </div>
                  <!-- <div class="pricing-container mt-2 mb-2">
                    <div class="pricing">
                      <span style="text-transform: uppercase;">
                        399 SAR
                      </span>
                    </div>
                  </div> -->
                </div>
  
                <div class="buy-btn">
                  <a href="{% static 'website/assets/gaint-plus.pdf' %}" target="_blank">
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_31_180)">
                          <path d="M7.41353 18.121C7.86844 18.121 8.23721 17.7522 8.23721 17.2973C8.23721 16.8424 7.86844 16.4736 7.41353 16.4736C6.95862 16.4736 6.58984 16.8424 6.58984 17.2973C6.58984 17.7522 6.95862 18.121 7.41353 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M16.4741 18.121C16.929 18.121 17.2978 17.7522 17.2978 17.2973C17.2978 16.8424 16.929 16.4736 16.4741 16.4736C16.0192 16.4736 15.6504 16.8424 15.6504 17.2973C15.6504 17.7522 16.0192 18.121 16.4741 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M0.823242 0.82373H4.11798L6.32545 11.8529C6.40077 12.2321 6.60708 12.5727 6.90825 12.8152C7.20942 13.0576 7.58626 13.1864 7.97282 13.179H15.979C16.3656 13.1864 16.7424 13.0576 17.0436 12.8152C17.3448 12.5727 17.5511 12.2321 17.6264 11.8529L18.9443 4.94215H4.94166" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_31_180">
                          <rect width="19.7684" height="19.7684" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>                        
                      </span>
                      <span class="ms-2">
                        {% trans "Buy now" %}
                      </span>
                  </a>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-5">
            <div class="service-container" data-aos="fade-up" data-aos-duration="1000">
              <div class="service" >
                <div class="ser-img">
                  <img src="{% static 'website/assets/ser-2.png' %}" alt="gaint-plus services">
                </div>
                <div class="body">
                  <div class="title">
                    <h2>
                      {% trans "Coffee Corner Design" %}
                    </h2>
                  </div>
                  <div >
                    <p class="sub-text">
                      {% trans "We can prepare a special corner for coffee in your home with a distinct character that reflects your personal taste, taking into account its fit with your home decor." %}
                    </p>
                  </div>
                  <!-- <div class="pricing-container mt-2 mb-2">
                    <div class="pricing">
                      <span style="text-transform: uppercase;">
                        399 SAR
                      </span>
                    </div>
                  </div> -->
                </div>
  
                <div class="buy-btn">
                  <a href="{% static 'website/assets/gaint-plus.pdf' %}" target="_blank">
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_31_180)">
                          <path d="M7.41353 18.121C7.86844 18.121 8.23721 17.7522 8.23721 17.2973C8.23721 16.8424 7.86844 16.4736 7.41353 16.4736C6.95862 16.4736 6.58984 16.8424 6.58984 17.2973C6.58984 17.7522 6.95862 18.121 7.41353 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M16.4741 18.121C16.929 18.121 17.2978 17.7522 17.2978 17.2973C17.2978 16.8424 16.929 16.4736 16.4741 16.4736C16.0192 16.4736 15.6504 16.8424 15.6504 17.2973C15.6504 17.7522 16.0192 18.121 16.4741 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M0.823242 0.82373H4.11798L6.32545 11.8529C6.40077 12.2321 6.60708 12.5727 6.90825 12.8152C7.20942 13.0576 7.58626 13.1864 7.97282 13.179H15.979C16.3656 13.1864 16.7424 13.0576 17.0436 12.8152C17.3448 12.5727 17.5511 12.2321 17.6264 11.8529L18.9443 4.94215H4.94166" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_31_180">
                          <rect width="19.7684" height="19.7684" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>                        
                      </span>
                      <span class="ms-2">
                        {% trans "Buy now" %}
                      </span>
                  </a>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-5">
            <div class="service-container" data-aos="fade-up" data-aos-duration="1000">
              <div class="service" >
                <div class="ser-img">
                  <img src="{% static 'website/assets/ser-3.png' %}" alt="gaint-plus services">
                </div>
                <div class="body">
                  <div class="title">
                    <h2>
                      {% trans "Implementation of the Set" %}
                    </h2>
                  </div>
                  <div>
                    <p class="sub-text">
                      {% trans "We can prepare a special corner for coffee in your home with a distinct character that reflects your personal taste, taking into account its fit with your home decor." %}
                    </p>
                  </div>
                  <!-- <div class="pricing-container mt-2 mb-2">
                    <div class="pricing">
                      <span style="text-transform: uppercase;">
                        399 SAR
                      </span>
                    </div>
                  </div> -->
                </div>
  
                <div class="buy-btn" >
                  <a href="{% static 'website/assets/gaint-plus.pdf' %}" target="_blank" >
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_31_180)">
                          <path d="M7.41353 18.121C7.86844 18.121 8.23721 17.7522 8.23721 17.2973C8.23721 16.8424 7.86844 16.4736 7.41353 16.4736C6.95862 16.4736 6.58984 16.8424 6.58984 17.2973C6.58984 17.7522 6.95862 18.121 7.41353 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M16.4741 18.121C16.929 18.121 17.2978 17.7522 17.2978 17.2973C17.2978 16.8424 16.929 16.4736 16.4741 16.4736C16.0192 16.4736 15.6504 16.8424 15.6504 17.2973C15.6504 17.7522 16.0192 18.121 16.4741 18.121Z" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M0.823242 0.82373H4.11798L6.32545 11.8529C6.40077 12.2321 6.60708 12.5727 6.90825 12.8152C7.20942 13.0576 7.58626 13.1864 7.97282 13.179H15.979C16.3656 13.1864 16.7424 13.0576 17.0436 12.8152C17.3448 12.5727 17.5511 12.2321 17.6264 11.8529L18.9443 4.94215H4.94166" stroke="#FEFEFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_31_180">
                          <rect width="19.7684" height="19.7684" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>                        
                      </span>
                      <span class="ms-2">
                        {% trans "Buy now" %}
                      </span>
                  </a>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3" data-aos="zoom-in" data-aos-duration="1000" >
        <a class="stroke-btn mt-3" href="https://api.whatsapp.com/send?phone=966547774276&text=Hello,I want to know more about services" target="_blank">
          <span >
            <img src="{% static 'website/assets/wa.png' %}" alt="gaint plus whatsapp number" style="width:20px;">
            WhatsApp Now
          </span>
        </a>
      </div>
    </div>
    </div>

    <div id="brochure" style="position: relative;" class="d-flex justify-content-center align-items-center mt-5 mb-5 p-5" data-aos="fade-up" data-aos-duration="1000">
      <img id="brochure_bkg" src="{% static 'website/assets/brochure_bkg.gif' %}" alt="gaint plus download guide">

      <div class="text-center">
        <h1>Loved our products!</h1>
        <p>Want to know how you can get these beautiful designs?</p>
        <a class="stroke-btn mt-3" href="{% static 'website/assets/gaint-plus.pdf' %}" target="_blank">
          <span >
            View guide
          </span>
        </a>
      </div>

    </div>
  
  </div>

  <!-- our services end -->



{% endblock %}