@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --black: #0B1628;
    --white: #fefefe;
    --primary-1:#DF3DD6;
    --primary-2:#3AD3D9;
    --btn-bkg: linear-gradient(94.1deg, rgba(223, 61, 214, 0.75) -10.95%, rgba(58, 211, 217, 0.75) 115.14%);
    --btn-bkg-hover: linear-gradient(275.6deg, rgba(223, 61, 214, 0.75) -11.33%, rgba(58, 211, 217, 0.75) 110.88%);
    --border:linear-gradient(94.1deg, #DF3DD6 -10.95%, #3AD3D9 115.14%);
    --btn-shadow: 0px 0px 25px rgba(223, 61, 214, 0.5);
}

body{
    background-color: var(--black)!important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

.container85{
    width: 85%;
}

#navbar-links ul li{
    list-style: none;
}
#navbar-links .navbar-links{
    margin: 0 10px;
}
#navbar-links .navbar-links a{
    position: relative;
}
#navbar-links .navbar-links a:hover{
    color: var(--white);
}
#navbar-links .navbar-links a::before, #navbar-links li a.active::before{
    content: '';
    position: absolute;
    width: 75%;
    height: 3px;
    border-radius:  5px;
    background: var(--btn-bkg);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s all ease-in-out;
}
#navbar-links .navbar-links a:hover::before, #navbar-links li a.active::before{
    opacity: 1;
    bottom: -10px;
}

/* tags */

h1{
    /* font-size: 3.8rem;
    line-height: 4.2rem; */
    font-weight: 800;
}

button{
    outline: none;
}
a{
    text-decoration: none;
    color: var(--white);
}

/* tags end */
.primary-btn-gp{
    padding: 14px 20px;
    border-radius: 10px;
    background: url("../assets/btn.60405755c459.svg") no-repeat center center;
    box-shadow: var(--btn-shadow);
    border: none;
    transition: 0.5s all ease-in-out;
}
.primary-btn-gp:hover, .primary-btn-gp:focus{
    background: url("../assets/btn-hov.45da5ae23e35.svg") no-repeat center center;
}
.stroke-btn{
    background: url("../assets/btn.60405755c459.svg") no-repeat center center;
    padding: 2px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}
.stroke-btn-in{
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 7px;
}
.stroke-btn:hover, .stroke-btn:focus{
    background: url("../assets/btn-hov.45da5ae23e35.svg") no-repeat center center;
}

#lang-dropdown{
    position: absolute;
    top: 120%;
    border-radius: 10px;
    width: 100%;
    height: 0;
    background-color: var(--white);
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}
#lang-dropdown li{
    padding: 17px 20px;
    list-style: none;
    transition: 0.5s all ease-in-out;
}
#lang-dropdown li:hover{
    background-color: #EDECF8;
}
#lang-dropdown li a{
    display: block;
    color: var(--black);
}
#change-lang:focus + #lang-dropdown{
    height: 132px;
}
#change-lang #arrow-down svg{
    transition: 0.5s all ease-in-out;
}
#change-lang:focus #arrow-down svg{
    transform: rotate(180deg);
}

model-viewer {
    height: 100%;
    width: 100%;
    border: none;
}

.sub-text{
    color: #919DA4;
}

#room-svg svg{
    width: 90%;
}
#room-svg svg .float-animation{
    animation: float 4s ease-in-out alternate infinite;
}

@keyframes float{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }

}


@media(max-width:1364px){
    nav li, nav button {
        font-size: 0.8rem!important;
    }
}
@media(max-width:1204px){
    nav li, nav button {
        font-size: 0.6rem!important;
    }
}
@media(max-width:1038px){
    /* h1{
        font-size: 2.8rem;
        line-height: 3rem;
    } */
    nav li, nav button {
        font-size: 0.54rem!important;
    }
}
@media(max-width:992px){
    #hero-section{
        text-align: center;
    }
    nav#web-navbar{
        display: none;
    }
    model-viewer {
        height:90vw;
        width: 90vw;
        border: none;
    }
    .gp-btns{
        justify-content: center;
    }
    
    
}
@media(max-width:588px){
    .gp-btns button{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    #hero-section button{
        width: 250px;
    }
}

@media(min-width:993px){
    #hero-section{
        height: 80vh;
    }
}

/* #hero-section{
    height: 120vh;
} */